# Java / Maven
target/
*.class

# Python
__pycache__/
*.pyc
.venv/
venv/
python/models/

# Build artifacts
out/

# Elasticsearch & Kibana (binaires)
elasticsearch-*/
kibana-*/

# PDF uploadés
uploads/
*.pdf

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log